<section>
    <div  style="padding-top: 100px;" class="container mt-5">
    <div   class= "right mb-3">
        <button (click)="confirmOrder()"class="button button1">Confirm Order</button>
    </div>
    <div   class= "right mb-3">
    <button (click)="emptyCart()" class="button button2">Empty Cart</button></div>
    <div   class= "right mb-3">
    <button routerLink="/menu" class="button button3">Continue Shopping</button>
    </div>
        <table mat-table [dataSource]="allCarts" class="mat-elevation-z8">

            
            <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.items.foodName}} </td>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.items.description}} </td>
            <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> Price</th>
            <td mat-cell *matCellDef="let element"> {{element.items.priceOfItem}} </td>
            <mat-footer-cell *matFooterCellDef>$ {{ grandTotal }}</mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> 
                
                <button (click)="increaseQuantity()">+</button>
                            <input type="text" [(ngModel)]="Quantity" min="0">
                <button (click)="decreaseQuantity()">-</button>
            </td>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>


            <ng-container matColumnDef="FinalPrice">
            <th mat-header-cell *matHeaderCellDef> FinalPrice</th>
            <td mat-cell *matCellDef="let element"> {{element.items.priceOfItem * Quantity}} </td>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
        


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            
            
            
        
        
            

        </table>
    </div>     
</section>
