<section>
<div class ="selection" role="filter">
  <button (click)="swapAllMount()" class="type" id="all" style="font-size: 1.2em;">All Items</button>
  <button (click)="swapBfMount()" class="type" id="breakfast" style="font-size: 1.2em;">Breakfast</button>
  <button (click)="swapLdMount()" class="type" id="non-breakfast" style="font-size: 1.2em;">Lunch/Dinner</button>
  <div class="spacer"></div>
  <input [(ngModel)] = "foodName" placeholder="Name of item">
  <button (click)="foodSearch()" class="type" id="food-name" style="font-size: 1.2em;">Search</button>
</div>
<div *ngIf="allMounted">
  <div class="card-container" data-aos="zoom-in-up" data-aos-duration="1000">
    <div class="itemlist" *ngFor="let item of items">
      <a routerLink="{{item.foodId}}" class="card">
        <img src='assets/images/item{{item.foodId}}.jpg' height="200px" width="auto">
        <div class="iteminfo">
          <p> {{item.foodName}}</p>
          <p> {{item.description}}</p>
          <p> {{item.foodTag}}</p>
          <p> ${{item.priceOfItem}}</p>
          <p>Add to cart <button style="cursor: pointer;" (click)="addToCart(item.foodId)">+</button></p>
        </div>
      </a>
    </div>
  </div>
</div>
<div *ngIf="bfMounted">
  <div class="card-container">
    <div class="itemlist" *ngFor="let item of items">
      <div class="card">
        <img src='assets/images/item{{item.foodId}}.jpg' height="200px" width="auto">
        <div class="iteminfo">
          <p> {{item.foodName}}</p>
          <p> {{item.description}}</p>
          <p> {{item.foodTag}}</p>
          <p> ${{item.priceOfItem}}</p>
          <p>Add to cart <button style="cursor: pointer;" (click)="addToCart(item.foodId)">+</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="ldMounted">
  <div class="card-container">
    <div class="itemlist" *ngFor="let item of items">
      <div class="card">
        <img src='assets/images/item{{item.foodId}}.jpg' height="200px" width="auto">
        <div class="iteminfo">
          <p> {{item.foodName}}</p>
          <p> {{item.description}}</p>
          <p> {{item.foodTag}}</p>
          <p> ${{item.priceOfItem}}</p>
          <p>Add to cart <button style="cursor: pointer;"(click)="addToCart(item.foodId)">+</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="foodMounted">
  <div class="card-container">
    <div class="itemlist" *ngFor="let item of items">
      <div class="card">
        <img src='assets/images/item{{item.foodId}}.jpg' height="200px" width="auto">
        <div class="iteminfo">
          <p> {{item.foodName}}</p>
          <p> {{item.description}}</p>
          <p> {{item.foodTag}}</p>
          <p> ${{item.priceOfItem}}</p>
          <p>Add to cart <button style="cursor: pointer;">+</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>