@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

section {
    height: 90vh;
    position: relative;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('https://images.pexels.com/photos/6493567/pexels-photo-6493567.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    filter: brightness(20%);
}

.reg {
    max-width: 700px;
    width: 100%;

    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

h1,
h2 {
    font-size: 2rem;
    font-family: 'Space Mono', monospace;
    color: white;
}

input {
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 7px;
}

button {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 1.6rem;
    padding: 10px 30px 10px 30px;
    margin: 50px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #f87205;
}