<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a routerLink="" class="home-button" style="font-size: 1.8em;">Revature Grill</a>
      <div class="spacer"></div>
      <a routerLink="menu" class="circle-button" style="font-size: 1em;">menu</a>
      <a routerLink="register" class="circle-button" id ="Register" style="font-size: 1em;">register</a>
      <a routerLink="login" class="circle-button" id ="Login" style="font-size: 1em;">login</a>
      <button routerLink="cart" class="btn btn-primary">
        <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>
  </div>
